/*
CSS für alle <div>-HTML-Elemente"
1 Punkt
*/
div {
    background: antiquewhite;
}

/*
CSS für HTML-Elemente mit class="blog-entry"
10 Punkte
*/
.blog-entry {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}

/*
CSS für HTML-Elemente mit mehreren classes="blog-entry class2 class-3 ..."
Jede Klasse zählt 10 Punkte
*/
.blog-entry{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    background: green;
}

/*
item startet in column 1
 */
.item-start-c-1 {
    grid-column-start: 1
}

/*
CSS für HTML-Elemente mit id="blog-entry-1"
100 Punkte
*/
#blog-entry-1{
    background: rosybrown;
}

